<SECTION class="product-container">
  <mat-button-toggle-group 
    [value]="toggleGroupValue()" 
    (valueChange)="toggleGroupValue.set($event)">
    <mat-button-toggle value="open">{{"ADD NEW PRODUCT" | translate}}</mat-button-toggle>
    <mat-button-toggle value="close">{{"PRODUCT LIST" | translate}}</mat-button-toggle>
  </mat-button-toggle-group>

  @if (toggleGroupValue() !== 'open') {
    <app-product-list [products]="products()"></app-product-list>
  } @else {
    <app-product-form [productForm]="productForm" (sentForm)="onSubmit($event)"></app-product-form>
  }
</SECTION>
