<section class="form-container">
  <div class="card">
    <h3>New Product</h3>
    <form class="modal-container" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Name">
      </div>
      <div class="form-field">
        <label for="imageUrl">Image</label>
        <input id="imageUrl" type="text" formControlName="imageUrl" placeholder="Image url">
      </div>
      <div class="form-field">
        <label for="price">Price</label>
        <input id="price" type="number" formControlName="price" placeholder="Price">
      </div>
      <div class="form-field">
        <label for="description">Description</label>
        <input id="description" type="text" formControlName="description" placeholder="Description">
      </div>
      <div class="form-field">
        <label for="stock">Stock</label>
        <input id="stock" type="number" formControlName="stock" placeholder="Stock">
      </div>
      <div class="form-field">
        <label for="maxStock">Maximum Stock</label>
        <input id="maxStock" type="number" formControlName="maxStock" placeholder="Maximum Stock">
      </div>
      <div class="form-field">
        <label for="stockShippingStatus">Stock Shipping Status</label>
        <input id="stockShippingStatus" type="text" formControlName="stockShippingStatus" placeholder="Stock Shipping Status">
      </div>
      <button type="submit" class="add-btn">Add new Product</button>
    </form>
  </div>
</section>
