:host {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 90%; /* Header ocupa el 10% de altura, el resto (90%) para aside y contenido */
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    "a a "
    "b c ";
 ;
    gap: 0;
    overflow: hidden;
}

.header {
    grid-area: a;
    position: sticky; 
    border: 1px solid green;
    background-color: #ccc; 
}
.aside {
    grid-area: b; 
    position: sticky;
    border: 1px solid red;
    background-color: #ddd; 
}

.main-content{
    grid-area: c;
    overflow-y: auto;
    border: 1 px solid blue;
    background-color: #ccc; 
}

.language-container{
    height: 100%;
    border: solid 1px pink;
}