<div class="order-container">
    <mat-card>
      <mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="orderId">
            <mat-header-cell *matHeaderCellDef>
              {{ 'ORDER ID' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let order">
              <a [routerLink]="['/order', order.id]">{{ order.id }}</a>
            </mat-cell>
          </ng-container>
        <ng-container matColumnDef="productId">
          <mat-header-cell *matHeaderCellDef>
            {{ 'PRODUCT ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <a [routerLink]="['/product', order.productId]">{{ order.productId }}</a>
          </mat-cell>
        </ng-container>
  

        <ng-container matColumnDef="customerId">
          <mat-header-cell *matHeaderCellDef>
            {{ 'CUSTOMER ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <a [routerLink]="['/customer', order.customerId]">{{ order.customerId }}</a>
          </mat-cell>
        </ng-container>
  

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>
            {{ 'QUANTITY' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            {{ order.quantity }}
          </mat-cell>
        </ng-container>
  

        <ng-container matColumnDef="calendarDate">
          <mat-header-cell *matHeaderCellDef>
            {{ 'CALENDAR DATE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            {{ order.calendarDate }}
          </mat-cell>
        </ng-container>
  

        <ng-container matColumnDef="totalPrice">
          <mat-header-cell *matHeaderCellDef>
            {{ 'TOTAL PRICE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            {{ order.totalPrice }}
          </mat-cell>
        </ng-container>
  

        <ng-container matColumnDef="orderStatus">
          <mat-header-cell *matHeaderCellDef>
            {{ 'ORDER STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let order">
            {{ order.orderStatus }}
          </mat-cell>
        </ng-container>
  
 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>
  
  <!-- <p>order-list works!</p>
<div class="order-container">
<mat-card>
    <ul class="order-list-container">
        @if(orders.length > 0){
            @for( order of orders; track order.id){
                <li>
                    <mat-card class="card-container">
                    <a [routerLink]="['/order', order.id]">
                        <mat-card-title> {{ "PRODUCT ID" | translate}}: {{order.productId}}</mat-card-title> 
                        <mat-card-title> {{ "CUSTOMER ID" | translate}}: {{order.customerId}}</mat-card-title> 
                        <mat-card-subtitle> {{ "QUANTITY" | translate}}: {{order.quantity}} </mat-card-subtitle>
                        <mat-card-subtitle>  {{ "CALENDAR DATE" | translate}}: {{order.calendarDate}}</mat-card-subtitle>
                       <mat-card-subtitle>  {{ "TOTAL PRICE" | translate}}: {{order.totalPrice}}</mat-card-subtitle>
                        <mat-card-subtitle>{{ "ORDER STATUS" | translate}}: {{order.orderStatus}}</mat-card-subtitle>
                    </a>
                
                    </mat-card>
                </li>
            }
        }

    </ul>
</mat-card>

</div> -->