

<mat-card class="mat-card">
  @if(product){
<div class="product-container">
  <div class="img-container"> 
    <img class="img" [src]="product.imageUrl" alt="{{product.name}}">
  </div>
  <div class="info-container">
    <mat-card-title> <strong>{{ product.name }}</strong> </mat-card-title>
    <mat-card-content class="">
      @if(!editMode){
      <p><strong>{{ "CATEGORIES" | translate }}:</strong> {{ product.categories }}</p>
      <p><strong>{{ "DESCRIPTION"| translate }}:</strong> {{ product.description }}</p>
      <p><strong>{{ "PRICE"| translate }}:</strong> {{ product.price }} €</p>
      <p><strong>{{ "STOCK" | translate }}:</strong> {{ product.stock }}</p>
      <p><strong>{{ "MAXIMUM STOCK" | translate }}:</strong> {{ product.maxStock }}</p>
      <p><strong>{{ "STOCK SHIPPING STATUS" | translate }}:</strong> {{ product.stockShippingStatus }}</p>


  
      } @else {
  
      <form class="modal-container" [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "NAME" | translate }}</mat-label>
          <input matInput id="name" type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "IMAGE URL" | translate}}</mat-label>
          <input matInput id="imageUrl" type="text" formControlName="imageUrl" placeholder="Image URL">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "PRICE" | translate }}</mat-label>
          <input matInput id="price" type="number" formControlName="price" placeholder="Price">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{"DESCRIPTION" | translate}}</mat-label>
          <textarea matInput id="description" formControlName="description" placeholder="Description" class="description-textArea"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "STOCK" | translate}}</mat-label>
          <input matInput id="stock" type="number" formControlName="stock" placeholder="Stock">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "MAXIMUM STOCK"  | translate}}</mat-label>
          <input matInput id="maxStock" type="number" formControlName="maxStock" placeholder="Maximum Stock">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "STOCK SHIPPING STATUS" | translate }}</mat-label>
          <input matInput id="stockShippingStatus" type="text" formControlName="stockShippingStatus"
            placeholder="Stock Shipping Status">
        </mat-form-field>
        <div class="update-button-group">
          <button mat-raised-button color="primary" type="submit">{{ "SAVE" | translate}}</button>
          <button mat-raised-button color="warn" type="button" (click)="editMode = false"> {{ "CANCEL" | translate}} </button>
        </div>
      </form>
      }
    </mat-card-content>
  </div>



</div>
  
 



  } @else {
  <p>{{ "LOADING PRODUCTS"}}</p>
  }

<div class="button-container">
  <button mat-raised-button color="primary" (click)="editMode = true">{{ "EDIT" | translate}}</button>
  <button mat-raised-button color="warn" (click)="deleteProduct()">{{ "DELETE"  | translate}}</button>
  <button mat-raised-button color="primary" (click)="goBackToProducts()">{{ "GO BACK" | translate}}</button>

</div>

</mat-card>