:host{
height: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  .img-container{
    width: 50%;
    height: 100%;
  }
  .img{
    height: 70%;
    width: 70%;
    border-radius: 15%;
    margin: 3rem;
    border: solid 1px black,
  }

  .product-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 3rem;
    width: 30%;
  }

  .info-container{
    margin-top: 20px
    
  }

  .mat-card{
    height: 100%;
  }